MONGODB_URI=

NEXTAUTH_URL="http://localhost:3000"

NEXTAUTH_SECRET=

JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Twitter OAuth
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

TWITTER_BEARER_TOKEN=